.favContenedor {
    padding-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 45px;
}

.filtroButton {
    color: grey;
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;

}

.filtroButton:hover{
    background: linear-gradient(45deg, #28b4cf, #a5f928);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    border-image: linear-gradient(to bottom, #28b4cf 0%, #a5f928 100%) 1;
    border-radius: 5px;

}

.filtroButton:focus {
    outline-color: transparent; 
    outline-style: none;
}

.reset {
    background-color: grey;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
}


.reset:hover:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    border-color: var(--hover);
    color: #fff;
    background-color: #28b4cf;
    transition: 0.25s;
}

.filterContenedor {
    
}
