.BannerContenedor {
    background-image: url('../../assets/images/banner.jpeg');
    background-color: black;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

